# U.S. Medical Insurance Costs

## Introduction

### Aims and Goals
- The aim of this project is to demonstrate Python fundamentals and analyse medical insurance costs.
- The goal of this project is to find potential use cases from the insurance data.

### Data
- Insurance - provided by [Codecademy.com](codecademy.com)

#### Note: The data is mock data and does not reflect real working data

### Analysis

For this project only the csv module is required to load and inspect the data.

In [5]:
import csv

Next is to identify the columns in insurance.csv, which are as follows:
- Age: Patient age
- Sex: Patient gender
- BMI: Patient BMI
- Children: Number of children the patient has
- Smoker: If the patient is a smoker or non-smoker
- Region: U.S geograpical location
- Charges: Annual medical insurance cost

Next is to inspect the insurance.csv and identify whether there are any missing data and the type of data we are working with. This part makes use of pandas, however for this project it is out of the scope. It will only be used to investigate missing data and data types for insurance.csv.

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

There are no null values within the dataset.

In [11]:
null_count = df.isnull().sum().sum()
print('Number of null values:', null_count)

Number of null values: 0

Next we need to create an empty list to store the values of each attribute.

In [15]:
# Initialise empty lists
ages = []
sexes = []
bmis = []
num_children = []
smoker_status = []
regions = []
insurance_charges = []

### Conclusion

### Further Research